*
!theme-customization.json
!.gitignore
!Packages
Packages/*/*

!Packages/Djaneiro
!Packages/Djaneiro/*
!Packages/Djaneiro/*/*

#!Packages/LiveReload
!Packages/LiveReload/*

!Packages/JavaScript
!Packages/JavaScript/*

!Packages/JSHint Gutter/.jshintrc

!Packages/*/*.sublime-*
!Packages/*/schemes
!Packages/*/schemes/*
Packages/*/Default*.sublime-*

!Packages/Default
Packages/Default/*
!Packages/Default/*.sublime-*

!Packages/User
Packages/User/*
!Packages/User/*.sublime-*
!Packages/User/macros
Packages/User/macros/*
!Packages/User/macros/sublime-macro

